
/*general style*/

@import url('https://fonts.googleapis.com/css?family=Nunito|Roboto');

:root {
    font-family: 'Nunito', sans-serif;
}

body {
    margin: 0 auto;
    min-width: 320px;
    max-width: 1920px;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    text-transform: uppercase;
    text-align: center;
}

li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
}


/*GRID*/

/*.grid {*/
/*    display: grid;*/
/*    grid-template-columns: 15% 70% 15%;*/
/*    grid-template-rows: auto auto auto;*/
/*    grid-auto-flow: row;*/
/*}*/

/*.main-header {*/
/*    grid-column: 1 / 4;*/
/*}*/

/*.main-footer {*/
/*    grid-column: 1 / 4;*/
/*}*/


/*@media screen and (max-width: 720px) {*/
/*    .grid {*/
/*        grid-template-columns: 1fr;*/
/*    }*/
/*}*/




/*HEADER*/

.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: space-between;
    padding: 1rem;
    min-height: 98vh;
    background-image: url(../img/header-bg.jpg);
    background-size: cover;
    background-position: center;
}

/*logo & menu*/

.top-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo__link {
    display: block;
}

.logo__img {
    display: inline-block;
    width: 2rem;
}

.logo__name {
    display: inline-block;
    margin: auto;
}

.logo__text {
    display: block;
    color: #800000;
    text-transform: uppercase;
}

/*toggl for menu*/

.toggle-btn {
	position: fixed;
	z-index: 100;
	right: 1rem;
	padding: 0.75rem;
	cursor: pointer;
}

.toggle-btn__line {
	display: block;
	margin-bottom: 0.375rem;
	height: 3px;
	width: 2rem;
	background-color: #212121;
	transition: all .4s ease;
}

.toggle-btn__line:last-child { 
	margin-bottom: 0;
}

.toggle-btn__top--active {
	transform: translateY(9px) rotateZ(135deg);
	background-color: #d60202;
}
.toggle-btn__midle--active {
	background-color: transparent;
	transform: translateX(2rem);
}
.toggle-btn__bottom--active {
	transform: translateY(-9px) rotateZ(-135deg);
	background-color: #f6313f;
}

/*main menu*/

.top-menu {
    display: flex;
    align-items: center;
}

.top-menu__item {
    text-align: center;
}

.top-menu__link {
    display: block;
    padding: 0.5rem 1rem;
    color: #800000;
    text-transform: uppercase;
}

.top-menu--active {
	position: fixed;
	z-index: 2;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.95);
}

.top-menu--active li {
    width: 100%;
}


/*top title*/

.top-title {
    /*align-self: center;*/
    width: 100%;
    color: #800000;
}

/*scroll*/

.scroll {
	width: 100%;
}

.scroll-wrap {
	width: 1rem;
	margin: 0 auto;
}

.scroll-icon {
	opacity: 0.2;
}

.scroll-icon--2 {
	opacity: 0.5;
}

.scroll-icon--3 {
	opacity: 0.8;
}



/*MAIN CONTAINER*/

.main {
    padding: 5rem 10%;
}


/*ABOUT SECTION*/

.about {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 5rem;
}

/*main title*/

.main-title {
    margin-bottom: 3rem;
    width: 100%;
}

.caption {
    display: inline-block;
    margin-left: 50%;
    padding: 0.5rem 0 0.5rem 1rem;
    border-left: 3px solid #800000;
}

.caption__top {
    text-transform: capitalize;
}

.caption__main {
    margin-top: 0.75rem;
    margin-bottom: 0;
    text-align: left;
}

.avatar,
.about-text,
.about-skills {
    padding: 1rem;
    width: 20rem;
}

.avatar__foto {
    width: 100%;
}

/*about text*/

.about-text {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}

.my-skills {
    width: 1rem;
    background-color: #800000;
    border-radius: 50px;
}

/*about skills list*/

.skills {
    text-align: center;
}

.skills__artikle {
    display: inline-block;
    margin: 0 0 1rem 0;
    width: 24%;
    text-align: center;
    box-sizing: border-box;
}

.skills__img {
    border-radius: 50px;
    background-color: #800000;
}




/*CONTACT SECTION*/

.contact {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 5rem;
}

.social {
    /*padding: 1rem;*/
    width: 20rem;
    height: 20rem;
}

.social-list {
    position: relative;
    margin: 0 auto;
    padding: 1rem;
    width: 290px;
    height: 290px;
    box-sizing: border-box;
    border: 1px solid #800000;
    border-radius: 50rem;
}

.social-list__item {
    position: absolute;
    display: inline-block;
    margin: auto;
    width: 32%;
}

.social-list__item:after {
    content: '';
    position: absolute;
    display: inline-block;
    height: 1rem;
    width: 2px;
    background-color: #800000;
}

.item--gmail {
    top: 23%;
    left: 7%;
}

.item--gmail:after {
    left: 85px;
    bottom: 5px;
    transform: rotate(135deg);
}

.item--facebook {
    top: 7%;
    left: calc(50% - 46px);
}

.item--facebook:after {
    bottom: -20px;
    left: 45px;
}

.item--github {
    top: 23%;
    right: 7%;
}

.item--github:after {
    right: 85px;
    bottom: 5px;
    transform: rotate(-135deg);
}

.item--avatar {
    top: calc(50% - 32px);
    left: calc(50% - 46px);
}

.item--avatar:after {
    display: none;
}

.item--instagram {
    bottom: 23%;
    left: 7%;
}

.item--instagram:after {
    left: 85px;
    top: 5px;
    transform: rotate(-135deg);
}

.item--linkedin {
    bottom: 7%;
    left: calc(50% - 46px);
}

.item--linkedin:after {
    top: -20px;
    left: 45px;
}

.item--skype {
    bottom: 23%;
    right: 7%;
}

.item--skype:after {
    right: 85px;
    top: 5px;
    transform: rotate(135deg);
}


.social-list__link {
    display: block;
    margin: auto;
}

.social-list__icon {
    display: block;
    margin: auto;
    width: 4rem;
}

/*main form*/

.form {
    padding: 1rem;
    width: 25rem;
}

.form__title {
    text-transform: uppercase;
    text-align: center;
}

.form__input {
    display: block;
    margin-bottom: 1rem;
    width: 100%;
}

.feedback-form {
    display: none;
    width: 50%;
}


/*FOOTER*/


.maps {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #A59A97;
    box-sizing: border-box;
}

.license {
    color: #800000;
}

.license span {
    
}



